@model IEnumerable<VSZANAL.Models.User>
@{
    ViewData["Title"] = "AllUsers";
}

<h2>AllUsers</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index"  asp-route-sortOrder="@ViewBag.TimeSort">
                    Id
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.NameS   ort">
                    Name
                </a>
            </th>
            <th>
                <p asp-action="Index">
                    Files
                </p>
            </th>
            <th>
                <p asp-action="Index">
                    Subscriptions
                </p>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            //if (item.UserId == ViewBag.login)
            //{
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Files" asp-controller="Admin" asp-route-id="@item.Id">Files</a>
                </td>
                <td>
                    <a asp-action="Subscriptions" asp-controller="Admin" asp-route-id="@item.Id">Subscriptions</a>
                </td>
            </tr>
            //}
        }
    </tbody>
</table>