
<!DOCTYPE html>
<html>
<head>
    <title>Main Page</title>
    <meta charset="utf-8">
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">*@
    <style>
        .container {
            width: 100%;
            max-width: 1024px;
            padding: 15px;
            margin: 0 auto;
        }

            .container:after, .row:after {
                content: "";
                display: table;
                clear: both;
            }

        .logo {
            float: left;
        }

        .row {
            margin-bottom: 15px;
            margin-top: 15px;
        }

        .col-1-2 {
            width: 50%;
            float: left;
            border: 1px solid black;
        }

        .col-3-4 {
            width: 75%;
            float: left;
            border: 1px solid black;
        }

        .col-1-4 {
            width: 25%;
            float: left;
            border: 1px solid black
        }

        .col-2-5 {
            width: 40%;
            float: left;
            border: 1px solid black;
        }

        .col-3-5 {
            width: 60%;
            float: left;
            border: 1px solid black;
        }

            .col-3-5 img {
                width: 200px;
                height: 300px;
            }

        .btn {
            border: 1px solid grey;
            background-color: whitesmoke;
            float: right;
            margin-right: 45%;
        }

        .slct {
            border: 1px solid greenyellow;
            background-color: whitesmoke;
            float: left;
            width: 20vw;
        }

        .down {
            border: 1px solid grey;
            border-radius: 10px;
            padding: 10px;
        }

        .image {
            height: 100%;
            width: 100%;
        }
    </style>

</head>
<body>
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-3-4">
                    <p>Выберите Фильтр, по которому хотите провести анализ</p>
                    <form action="@*контр/метод(string select)*@" method="post">
                        <table>
                            <tr>
                                <th>
                                    <select name="select" id="Method">
                                        @ViewData["Method"] = $("#Method option:selected").text();aszaa
                                        @{ string[] methods = AnaliticsFunctions.Parser.GetMethods();

                                            for (int i = 0; i < methods.Length - 4; i++)
                                            {
                                                <option value="@methods[i]">@methods[i]</option>
                                            }
                                        }

                                    </select>
                                </th>
                                <th><input type="submit" value="Apply" /></th>
                            </tr>
                        </table>
                    </form>

                </div>
                <div class="col-1-4">
                    <a href="/Home/ProfilePage/"><img class="image" src="@ViewBag.Avatar" alt="profPic" /></a>
                </div>
            </div>


            <div class="row">
                <div class="col-3-5">
                    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                    @{ List<string> names = new List<string>();
                        List<double> values = new List<double>();
                        string[] arr;
                        try
                        {
                            names = AnaliticsFunctions
                                .Parser.GetNames(AnaliticsFunctions
                                .Parser.Reader(AnaliticsFunctions
                                .Parser.FindLastFile(@"~\wwwroot\Files")));
                            values = AnaliticsFunctions
                                .Parser.GetValues(AnaliticsFunctions
                                .Parser.Reader(AnaliticsFunctions
                                .Parser.FindLastFile(@"~\wwwroot\Files")));
                            arr = AnaliticsFunctions.Parser.GetArray(
                                   AnaliticsFunctions.Parser.Reader(AnaliticsFunctions
                               .Parser.FindLastFile(@"~\wwwroot\Files")));
                        }
                        catch { names.Add("неверный формат данных"); }
                        string[] arrNames = names.ToArray();
                        double[] arrValues = values.ToArray();

                    }
                    <script>
                        google.charts.load("current", { packages: ["corechart"] });
                        google.charts.setOnLoadCallback(drawChart);
                        function drawChart(arr);
                                                            

                                //[['Dinosaur', 'Length'],
                                //['Acrocanthosaurus (top-spined lizard)', 12.2],
                                //['Albertosaurus (Alberta lizard)', 9.1],
                                //['Allosaurus (other lizard)', 12.2],
                                //['Apatosaurus (deceptive lizard)', 22.9]]
                            

                            var options = {
                                title: 'Lengths of dinosaurs, in meters',
                                legend: { position: 'none' },
                            };

                            var chart = new google.visualization.Histogram(document.getElementById('chart_div'));
                            chart.draw(data, options);
                        }
                    </script>
                    @*<script scr="../"></script>*@

                    <div id="chart_div" style="width: 550px; height: 300px;"></div>

                </div>
                <div class="col-2-5">
                    <textarea> Your Method is @ViewData["Method"] 

                    </textarea>
                    @*<img src="http://berg.com.ua/wp-content/forex-currency-trading-pairs.png" alt="Валютные пары" />*@
                </div>
            </div>
            <div class="row">
                <div class="col-3-5">
                </div>
                <div class="col-2-5">
                    <div class="down">
                        <h3>Выберите файл для загрузки</h3>
                        <form asp-action="AddFile" class="down" asp-controller="Home" method="post" enctype="multipart/form-data">
                            <input type="file" name="uploads" accept=".txt" /><br>
                            <input type="submit" value="Загрузить" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="col-1-3"></div>
            <div class="col-1-3"></div>
            <div class="col-1-3"></div>
        </div>
    </footer>
</body>
</html>